body {
  background-color: beige;
}

header {
  margin: 2em 0 3em;
  text-align: center;
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: auto;
  grid-template-areas: '. page-title info';
  justify-items: center;
  align-items: center;
}

h1 {
  grid-area: page-title;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bs-light);
  --bs-tooltip-color: black;
  --bs-tooltip-max-width: 150px;
  --bs-tooltip-opacity: 1;
}

.i-btn {
  grid-area: info;
  justify-self: start;
  border-radius: 50%;
  padding: min(0.5em, 2vw);
  display: flex;
  justify-content: center;
  align-content: center;
  width: fit-content;
  height: fit-content;
}

.i-btn i {
  font-size: 0.7em;
  height: 1em;
  width: 1em;
}

.tile-grid-section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'controls controls'
    'tile-grid tile-grid';
  align-items: center;
  justify-content: center;
}

.controls {
  grid-area: controls;
  display: grid;
  grid-template-columns: repeat(2, 1fr) 2fr;
  grid-template-rows: 1fr;
  text-align: center;
  gap: 1em;
  margin-block-end: 1em;
}

.display {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  align-items: center;
}

.display-title {
  justify-self: start;
  font-size: min(1em, 2.4vw);
}

.display-value,
.restart-btn {
  padding: min(0.2em, 1.5vw) min(1.5em, 5vw);
  font-size: min(1.4em, 4vw);
}

.display-value {
  /* width: 70%; */
  border: solid 1.5px grey;
  border-radius: 0.3em;
  background-color: white;
}

.restart-btn {
  width: auto;
  align-self: end;
  justify-self: end;
}

.tile-grid {
  grid-area: tile-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: min(1em, 2vw);
  border: solid 2px grey;
  border-radius: 0.5em;
  padding: min(1em, 2vw);
  justify-items: center;
  width: max-content;
  /* background-color:white; */
}

.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(2em, 6vw);
  width: 0;
  height: 0;
  padding: min(1.3em, 10vw);
}

.tile * {
  pointer-events: none;
}

.i-btn * {
  pointer-events: none;
}
